<section id="login" class="container">
    <div class="form-wrap">
      <h1>Upload Picture</h1>
      <p>Your picture will be 'buffered' and 'saved' into our DB.</p>
      
      <form action="/users/me/avatar" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <input type="file" name="avatar" class="btn" id="pic-upload"><input type="submit" class="btn btn-reverse">
      </form>
        
  </section>
