<section id="search" class="search-wrap">
    <h1>Weather Information</h1>
    <form class="search-form" id="weather-form">
      <i class="fas fa-search"></i>
      <input id="weather-search" type="search" placeholder="Seoul, Tokyo, New York, Paris... or Gangnam?">
      <button id="weather-button">Search</button>
    </form>
<p id="message-1">hidden text</p>
    <p id="message-2">hidden text</p>
  </section>