<section id="login" class="container">
    <div class="form-wrap">
      
      <h1>Change Password</h1>
      <p>Don't forget your new password</p>
      <form action="/users/me/update/password" method="POST">
        <div class="input-group"><label for="password">Your Password</label>
          <input type="text" name="password" id="password" class="input-box" placeholder="" maxlength="100" value="">
        </div><div class="input-group"><label for="password">Your Password</label>
          <input type="text" name="newpassword" id="newpassword" class="input-box" placeholder="" maxlength="100" value="">
        </div><input type="submit" value="Let's sign-up" class="btn btn-reverse">
      </form>
        
  </section>